.description{
    width: 80%;
    height: 90px;
}

.de-title{
    height: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;

    color: #000000;
}

.de-description{
    width: 380px;
    height: 56px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;

    color: #222222;
}